<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}">
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="~{common/header :: header}"></header>

<section class="h-screen flex flex-col justify-center items-center">
    <div class="mx-auto">
        <form action="../member/doLogin" method="POST">
            <div class="w-full flex justify-center items-center bg-white">
                <div class="w-[360px] p-10 rounded-2xl shadow-[0_4px_20px_rgba(0,0,0,0.1)] bg-[#fdfdfd]">
                    <h2 class="text-center mb-6 text-[#333]">로그인</h2>

                    <!-- 아이디 -->
                    <input name="loginId" type="text" placeholder="아이디를 입력하세요"
                           class="w-full h-10 mb-3 p-2.5 border border-[#ccc] rounded-lg text-sm">

                    <!-- 비밀번호 -->
                    <input name="loginPw" type="password" placeholder="비밀번호를 입력하세요"
                           class="w-full h-10 mb-3 p-2.5 border border-[#ccc] rounded-lg text-sm">

                    <!-- 로그인 버튼 -->
                    <button class="w-full h-10 border-none rounded-full bg-[#333] text-white text-sm cursor-pointer">
                        로그인
                    </button>

                    <!-- 회원가입 하러가기 버튼 -->
                    <button class="border-none text-white text-sm cursor-pointer w-full h-10 mt-4 rounded-full bg-[#333]">
                        <a class="block w-full" href="../member/join">
                            회원가입 하러가기
                        </a>
                    </button>

                    <!-- 구분선 및 SNS 문구 -->
                    <div class="my-6 flex items-center">
                        <hr class="flex-1 border-none h-px bg-[#ccc]" />
                        <span class="px-2 text-[#888] text-xs">SNS로 로그인</span>
                        <hr class="flex-1 border-none h-px bg-[#ccc]" />
                    </div>

                    <!-- 카카오 로그인 -->
                    <a href="${sendURL}">
                        <img src="/kakao_login_medium_narrow.png" alt="카카오 로그인" class="mx-auto">
                    </a>
                </div>
            </div>
        </form>
        <!-- 뒤로가기 버튼 -->
        <div class="text-center mt-8">
            <button onclick="history.back();"
                    class="px-5 py-2.5 border border-gray-400 text-gray-700 text-base bg-white hover:bg-gray-100 rounded-md transition duration-200">
                뒤로가기
            </button>
        </div>
    </div>
</section>

<footer th:replace="~{common/footer :: footer}"></footer>

</body>
</html>
